<div id="map" class="map"></div>
<script>
    var map, marker, labelIndex = 1;

    window.initMap = function() {
      var position = new google.maps.LatLng(<%= @point.latitude %>, <%= @point.longitude %>);

      map = new google.maps.Map(document.getElementById('map'), {
        center: position,
        zoom: 15,
        streetViewControl: false
      });

      marker = new google.maps.Marker({
        map: map,
        position: position,
        draggable: true,
        icon: pinSymbol("<%= @point.color %>")
      });
      marker.addListener('drag', updatePosition);

      <%- @point.triggers.each do |trigger| %>
        var position = new google.maps.LatLng(<%= trigger.latitude %>, <%= trigger.longitude %>);

        var marker = new google.maps.Marker({
          map: map,
          position: position,
          path: google.maps.SymbolPath.CIRCLE,
          label: (labelIndex++).toString()
        });
      <% end %>
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSi9XqJJg8XlhclU-Yx0Qs84_9T6-7BxA&callback=initMap"></script>
