<table class="table-hover">
  <colgroup>
    <col class="3/4"></col>
    <col class="1/4"></col>
  </colgroup>
  <thead>
    <tr>
      <th>Categories</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="js-sortable" data-sortable-url="<%= sort_categories_path %>">
    <%- @categories.each do |category| %>
      <tr data-id="<%= category.id %>">
        <td>
          <small class="text-muted js-sortable-handle">⇅</small>
          <%= link_to category, category %> (<%= category.points.count %>)
        </td>
        <td class="text-right">
          <ul class="list-divided padding-quarter-top">
            <li>
              <%= link_to "Change title", edit_category_path(category) %>
            </li>
            <li>
              <%= link_to "Remove",
                    category_path(category),
                    method: :delete,
                    class: "text-red",
                    data: {
                      confirm: "This will remove: #{category}. Are you sure?"
                    }
              %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class="padding-top">
        <ul class="list-divided">
          <li><%= link_to "< Back", root_path %></li>
          <li><%= link_to "Add a new category", new_category_path, class: "text-green" %></li>
        </ul>
      </td>
    </tr>
  <tfoot>
</table>
