<!DOCTYPE html>
<html>
<head>
  <title>Echotags Marker</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="container">
    <div class="grid grid-pair">
      <div class="grid-item 1/2">
        <ul class="navbar-menu">
          <li class="padding-right">
            <%= link_to_unless_current "Map", root_path, class: "no-padding-sides" %>
          </li>
          <li class="padding-right">
            <%= link_to_unless_current "Data", categories_path, class: "no-padding-sides" %>
          </li>
          <li class="padding-right">
            <%= link_to_unless_current "Reports", reports_path, class: "no-padding-sides" %>
          </li>
          <li class="padding-right">
            <%= link_to_unless_current "Descriptions", descriptions_path, class: "no-padding-sides" %>
          </li>
        </ul>
      </div>
      <div class="grid-item 1/2">
        <%= form_tag search_points_path, method: :get, class: "form-inline" do |f| %>
          <%= search_field_tag :term, nil, placeholder: "Search point.." %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%- flash.presence&.each do |type, content| %>
    <div class="box box-<%= type %>"><%= content %></div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
